# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class




# Unit test / coverage reports
*.cover
.cache
.pytest_cache/


# System files
.DS_Store
Thumbs.db

# Jupyter Notebook
.ipynb_checkpoints



